@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif, serif;
  line-height: 1.5;
}
.container{
  margin: 0 auto;
	padding: 0 12px;
	max-width: 1320px;
  
  @include lg {
    max-width: 992px;
    padding: 0 36px;
  }

  @include md {
    max-width: 768px;
    padding: 0 36px;
  }
  
  @include sm {
    max-width: 576px;
    padding: 0 12px;
  }

}

.navbar,
.nav-list,
.footer-top,
.footer-bottom,
.router-link,
.external-link {
  display: flex;
}
.navbar,
.footer-top,
.footer-bottom {
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 48px;
  border-left: 8px solid #9f1213;
  padding-left: 8px;
  @include sm {
    font-size: 24px!important;
  } 
}
.content {
  padding-top: 96px;
  padding-bottom: 80px;
   @include sm {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}