<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top-left">
        <ul class="router-link">
          <li><a class="link" href="index.html">首頁</a></li>
          <li><a class="link" href="glasses.html">系列鏡框</a></li>
          <li><a class="link" href="store.html">門市據點</a></li>
          <li><a class="link" href="blog.html">部落格</a></li>
          <li><a class="link" href="faq.html">常見問題</a></li>
        </ul>
        <div class="contact">
          <div class="contact-detail">
           <p class="phone"></p>
            <a href=""><span class="material-symbols-outlined">call</span>0800-000-000</a>
          </div>
          <div class="contact-detail">
           <p class="e-mail"></p>
            <a href=""><span class="material-symbols-outlined">mail</span>glasses@business.com</a>
          </div>
        </div>
      </div>
      <div class="footer-top-right">
        <ul class="external-link">
          <li><a href=""><img class="social-media" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="FB"></a></li>
          <li><a href=""><img class="social-media" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="IG"></a></li>
          <li><a href=""><img class="social-media" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="LINE"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="copy-right">Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="policy">
        <a href="" class="privacy">隱私權政策</a>
        <a href="" class="service">服務條款</a>
      </div>
    </div>
  </div>
</div>