/* footer */
.footer {
  background-color: #aa0601;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
}
.footer-top,
.footer-bottom {
  justify-content: space-between;
}
.footer-top {
  padding-top: 48px;
  @include md {
    padding-top: 24px;
  }
}
.contact {
  padding-top: 36px;
  padding-bottom: 32px;
  font-size: 36px;
  color: #ffffff;
  @include md {
    font-size: 16px;
    padding: 0 0 24px 0;
  }
}
.contact-detail {
  display: flex;
  align-items: center;
}
.contact {
  span {
    padding-right: 22px;
    align-items: center;
    @include md {
     padding-right: 11px;
  } 
  }
}
.phone {
  padding-bottom: 8px;
}
.footer-bottom {
  border-top: 1px solid #ffffff;
  padding: 32px 0;
  @include md {
    padding: 16px 0 24px 0;
    flex-direction: column;
  }
}
.copy-right {
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
}
.policy {
  font-size: 14px;
    @include md{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }
}
.privacy {
  padding-right: 48px;
  @include md{
    padding-right: 0;
    padding-bottom: 8px;
  }
}
.nav-list {
  li {
    &:last-child {
      padding-right: 0;
    }
  }
}
.router-link {
  li {
    padding-right: 48px;
    font-size: 16px;
    &:last-child {
      padding-right: 0;
    }
  }
  @include md{
    display: none;
  }
}
.external-link {
  li {
    padding-right: 32px;
    &:last-child {
      padding-right: 0;
    }
    @include md {
    padding-right: 8px;
   }
  }
  img {
    max-width: 48px;
    @include md {
    max-width: 24px;
   }
  }
}


