/* faq */
.faq-page {
  max-width: 856px;
  margin-right: auto;
}
.text {
  font-weight: 700;
  padding-top: 32px;
  font-size: 24px;
  @include sm {
    padding-top: 24px;
  } 
}
.question {
  font-weight: 700;
  padding-top: 24px;
  font-size: 20px;
}
.answer {
  padding: 8px 0;
  font-size: 16px;
}